/* common css start  */

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style-type: none;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* common css end  */

/* header css start  */
.header-section{
    padding-top: 33px;
    background-color: #F0FFF0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 198;
    height: 60px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu ul li{ 
    display: inline-block;
}
.menu ul li a{
    color: #000000;
    padding-right: 48px;
}

.btn {
    background-color: #21B573;
    border-radius: 20px;
    padding: 12px 28px;
    
   
}

.btn a {
    color: white;
}

  
/* header css end  */

/* banner css start  */
.banner-section{
    background-color:#F0FFF0 ;
    padding-top: 90px;
}
.banner-wraper{
    display: flex;
}
.banner-left .banner-heading{
    color: #FD511A;
}
.banner-left h1{
    padding-right: 185px;
}
.banner-left span{
    color: #21B573;
}
.banner-left .banner-content{
    color: #6C6B6B;
    padding: 19px 100px 26px 0;
}
.banner-left a{
    color: white;
    margin-bottom: 60px;
    display: inline-block;
}

.banner-right img{
    width: 100%;
}
/* banner css end  */